<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHIẾU NHẬP</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>PHIẾU LUÂN CHUYỂN (NHẬP XUẤT) VẬT TƯ THIẾT BỊ</h2>
    <table class="table">
        <tr>
            <th>Ngày</th>
            <td>DD-MM-YYYY</td>
        </tr>
        <tr>
            <th>Số phiếu</th>
            <td>ABCDabcd1234@</td>
        </tr>
    </table>
    <br>
    <table class="table">
        <tr>
            <th>Nơi xuất</th>
            <td>project_number-project_name</td>
        </tr>
        <tr>
            <th>Nơi nhập</th>
            <td>project_number-project_name</td>
        </tr>
        <tr>
            <th>Tháp</th>
            <td>tower_name</td>
        </tr>
        <tr>
            <th>Loại xe vận chuyển</th>
            <td>vehicle_type</td>
        </tr>
        <tr>
            <th>Biển số xe</th>
            <td>vehicle_number</td>
        </tr>
    </table>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Mã số hàng hóa</th>
                <th>Tên hàng hóa</th>
                <th>Đơn vị tính</th>
                <th>Số lượng Thực xuất</th>
                <th>Số lượng Thực nhận</th>
                <th>Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>material_number</td>
                <td>material_name</td>
                <td>unit_count</td>
                <td>quantity_actual_exported</td>
                <td>quantity_actual_imported</td>
                <td>notes</td>
            </tr>
            <tr>
                <td>material_number</td>
                <td>material_name</td>
                <td>unit_count</td>
                <td>quantity_actual_exported</td>
                <td>quantity_actual_imported</td>
                <td>notes</td>
            </tr>
            <tr>
                <td>material_number</td>
                <td>material_name</td>
                <td>unit_count</td>
                <td>quantity_actual_exported</td>
                <td>quantity_actual_imported</td>
                <td>notes</td>
            </tr>
            <tr>
                <td>material_number</td>
                <td>material_name</td>
                <td>unit_count</td>
                <td>quantity_actual_exported</td>
                <td>quantity_actual_imported</td>
                <td>notes</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Bên nhận-An ninh/An toàn</th>
                <th>Bên nhận-PM/SM</th>
                <th>Bên nhận-Bảo vệ CT</th>
                <th>Bên nhận-Thủ kho</th>
                <th>Bên vận chuyển-Tài xế</th>
                <th>Bên giao-Bảo vệ 1</th>
                <th>Bên giao-Bảo vệ 2</th>
                <th>Bên giao-Quản lí Kho</th>
                <th>Bên giao-Thủ Kho</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>received_safety_or_security</td>
                <td>received_PM_or_SM</td>
                <td>received_guardman</td>
                <td>received_warehouse_keeper</td>
                <td>logistic_driver</td>
                <td>deliver_guardman_1</td>
                <td>deliver_guardman_2</td>
                <td>deliver_warehouse_manager</td>
                <td>deliver_warehouse_keeper</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Ghi chú</th>
                <th>Mô tả</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tới nơi liên lạc với Mr./Ms.:...........Số Đt:...........</td>
                <td>Theo PYC VTTB-123456789-xyz</td>
            </tr>
        </tbody>
    </table>
</body>

</html>