<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PYC CẤP VẬT TƯ</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h2>PHIẾU YÊU CẦU CUNG CẤP VẬT TƯ THIẾT BỊ</h2>
    <table class = "table">
        <tr>
            <th>Ngày</th>
            <td>DD-MM-YYYY</td>
        </tr>
        <tr>
            <th>Số phiếu</th>
            <td>ABCDabcd1234@</td>
        </tr>
    </table>
    <br>
    <table class = "table">
        <tr>
            <th>Tên đơn vi yêu cầu/thuê</th>
            <td></td>
        </tr>
        <tr>
            <th>Dự án</th>
            <td>project_number-project_name</td>
        </tr>
        <tr>
            <th>Tháp</th>
            <td>tower_name</td>
        </tr>
        <tr>
            <th>Hạng mục công việc</th>
            <td>package_name</td>
        </tr>
        <tr>
            <th>Đề nghị phòng</th>
            <td>department_name</td>
        </tr>
    </table>
    <br>
    <table class = "table">
        <thead>
            <tr>
                <th>Mã số hàng hóa</th>
                <th>Tên hàng hóa</th>
                <th>Đơn vị tính</th>
                <th>Số lượng tổng</th>
                <th>Số
                    lượng đã cấp</th>
                <th>Số lượng lần này</th>
                <th>Thời gian cung cấp</th>
                <th>Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>material_number</td>
                <td>material_name</td>
                <td>unit_count</td>
                <td>quantity_sum</td>
                <td>quantity_supllied_already</td>
                <td>quantity_supply_this_time</td>
                <td>time_supply</td>
                <td>notes</td>
            </tr>
            <tr>
                <td>material_number</td>
                <td>material_name</td>
                <td>unit_count</td>
                <td>quantity_sum</td>
                <td>quantity_supllied_already</td>
                <td>quantity_supply_this_time</td>
                <td>time_supply</td>
                <td>notes</td>
            </tr>
            <tr>
                <td>material_number</td>
                <td>material_name</td>
                <td>unit_count</td>
                <td>quantity_sum</td>
                <td>quantity_supllied_already</td>
                <td>quantity_supply_this_time</td>
                <td>time_supply</td>
                <td>notes</td>
            </tr>
            <tr>
                <td>material_number</td>
                <td>material_name</td>
                <td>unit_count</td>
                <td>quantity_sum</td>
                <td>quantity_supllied_already</td>
                <td>quantity_supply_this_time</td>
                <td>time_supply</td>
                <td>notes</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class = "table">
        <thead>
            <tr>
                <th>Khối/phòng cung cấp VTTB</th>
                <th>Khối/phòng quản lí VTTB</th>
                <th>Ban điều hành</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>P.GĐ/GĐ Khối USD</td>
                <td>GĐ Khối HSE</td>
                <td>PM</td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class = "table">
        <thead>
            <tr>
                <th>Ý kiến của phòng ban phụ trách</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>----------------</td>
            </tr>
        </tbody>
    </table>
</body>

</html>